.keyContainer{
  width: 1150px;
  margin: auto;
  margin-top: 100px;
}

.reviewBotSection {
  display: grid;
  align-items: center;
} 

.mainHeading {
  font-size: 30px;
}

.keyContainer p {
  margin: 0;
}

.firstBotReview p {
  font-size: 20px;
}

.firstBotReview img {
  margin-top: 50px;
}

.firstBotReview img, .secondBotReview img {
  width: 100%;
  height: auto;
}
.secondBotReview {
  display: none;
}
@media only screen and (max-width: 641px) {
  .keyContainer{
    width: auto;
    margin: 40px 24px 0px 24px;
  }
  .mainHeading {
    font-size: 30px;
  }
  .secondBotReview {
    display: block;
    margin-top: 30px;
  }
  .firstBotReview {
    display: none;
  }

}
