.container {
  display: grid;
  grid-template-columns: 30% 40%;
  align-items: center;
  margin: 100px;
  background: #fff;
  justify-content: center;
}

.FormDiv h4 {
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 641px) {
    .container {
        display: block;
        margin: 100px 10px 20px;
    }

    .image {
        display: none;
    }
}
